[submodule "vim/vim/bundle/easymotion.symlink"]
	path = vim/vim/bundle/easymotion.symlink
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/vim/bundle/nerdcommenter.symlink"]
	path = vim/vim/bundle/nerdcommenter.symlink
	url = https://github.com/ddollar/nerdcommenter.git
[submodule "vim/vim/bundle/nerdtree.symlink"]
	path = vim/vim/bundle/nerdtree.symlink
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/surround.symlink"]
	path = vim/vim/bundle/surround.symlink
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/xmledit.symlink"]
	path = vim/vim/bundle/xmledit.symlink
	url = https://github.com/sukima/xmledit.git
[submodule "vim/vim/bundle/AutoComplPop.symlink"]
	path = vim/vim/bundle/AutoComplPop.symlink
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "vim/vim/bundle/Align.symlink"]
	path = vim/vim/bundle/Align.symlink
	url = https://github.com/vim-scripts/Align.git
[submodule "vim/vim/bundle/tagbar.symlink"]
	path = vim/vim/bundle/tagbar.symlink
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/vim/bundle/syntastic.symlink"]
	path = vim/vim/bundle/syntastic.symlink
	url = https://github.com/scrooloose/syntastic.git
[submodule "coffeescript/vim/bundle/coffeescript.symlink"]
	path = coffeescript/vim/bundle/coffeescript.symlink
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "git/vim/bundle/fugitive.symlink"]
	path = git/vim/bundle/fugitive.symlink
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/ZoomWin.symlink"]
	path = vim/vim/bundle/ZoomWin.symlink
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "vim/vim/bundle/numbers.symlink"]
	path = vim/vim/bundle/numbers.symlink
	url = git://github.com/myusuf3/numbers.vim.git
[submodule "latex/vim/bundle/LatexBox.symlink"]
	path = latex/vim/bundle/LatexBox.symlink
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "markdown/vim/bundle/markdown-folding.symlink"]
	path = markdown/vim/bundle/markdown-folding.symlink
	url = https://github.com/nelstrom/vim-markdown-folding.git
[submodule "vim/vim/bundle/abolish.symlink"]
	path = vim/vim/bundle/abolish.symlink
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/vim/bundle/gundo.symlink"]
	path = vim/vim/bundle/gundo.symlink
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/vim/bundle/ultisnips.symlink"]
	path = vim/vim/bundle/ultisnips.symlink
	url = https://github.com/SirVer/ultisnips.git
[submodule "python/vim/bundle/jedi.symlink"]
	path = python/vim/bundle/jedi.symlink
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/vim/bundle/ctrlp.symlink"]
	path = vim/vim/bundle/ctrlp.symlink
	url = https://github.com/kien/ctrlp.vim.git
